@import "../../style/theme.scss";

.about{
    max-width: 1000px;
    font-size: $font-xl;

        .inner {
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 50px;
        }

    .skills-list{
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0 10px;
        padding: 0;
        margin: 20px 0 0;
        overflow: hidden;
        list-style: none;
    }

    ul.skills-list li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: $font-mono;
        font-size: $font-xs;
        color: $white;
    }

    ul.skills-list li::before {
        content: "▹";
        position: absolute;
        left: 0;
        color: $green;
        font-size: $font-sm;
        line-height: 12px;
        box-sizing: inherit;
    }

    .my-image {
        position: relative;
        max-width: 300px;
    }

    .my-image .wrapper{
        box-shadow: 0 10px 30px -15px $navy-shadow;
        transition: $transition;
        display: block;
        position: relative;
        width: 100%;
        border-radius: $border-radius;
        background-color: $green;
    }

    .my-image .wrapper::before {
        top: 0;
        left: 0;
        background-color: $navy;
        mix-blend-mode: screen;
        content: "";
        position: absolute;
        height: 100%;
        display: block;
        width: 100%;
        border-radius: $border-radius;
        transition: $transition;
        box-sizing: inherit;
    }

    .my-image .wrapper::after {
        border: 2px solid $green;
        top: 14px;
        left: 14px;
        z-index: -1;
        content: "";
        position: absolute;
        height: 100%;
        display: block;
        width: 100%;
        box-sizing: inherit;
        border-radius: $border-radius;
        transition: $transition;
    }
}
