.nav-bar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 4em;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    word-wrap: break-word;

    .tab{
        align-items: center;
        background: transparent;
        padding: 0;
        line-height: inherit;
        color: inherit;
        padding: 1em;
    }

    .tab:active{
        border-bottom: 2px solid #d6d58e;
    }

    .tab:visited{
        border-bottom: 2px solid #d6d58e;
    }

    .tab:hover{
        color: #d6d58e;
    }
}

