@import "../../style/theme.scss";

.work {
  max-width: 1000px;
  font-size: 20px;
  justify-content: center;

  .card {
    display: flex;
    width: 100%;
    color: $green;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
  }

  .my-image {
    position: relative;
    border: 1px solid $green;
    width: 700px;
  }

  .my-image .wrapper{
    box-shadow: 0 10px 30px -15px $navy-shadow;
    transition: $transition;
    display: block;
    position: relative;
    width: 100%;
    border-radius: $border-radius;
    background-color: $green;
  }

  .my-image .wrapper::before {
    top: 0;
    left: 0;
    background-color: $navy;
    mix-blend-mode: screen;
    content: "";
    position: absolute;
    height: 100%;
    display: block;
    width: 100%;
    border-radius: $border-radius;
    transition: $transition;
    box-sizing: inherit;
  }

  .my-image:hover {
    background-color: transparent;
  }

  .my-image .wrapper::after {
    border: 2px solid $green;
    top: 14px;
    left: 14px;
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    display: block;
    width: 100%;
    box-sizing: inherit;
    border-radius: $border-radius;
    transition: $transition;
    background-color: $green;
  }

  .my-image .left {
    align-items: "flex-start";
  }

  .skills-list{
    padding: 0;
    margin: 20px 0 0;
    overflow: hidden;
    list-style: none;
    color: $slate;
    font-family: $font-mono;
    font-size: $font-md;
  }

  ul.skills-list li::before {
    content: "▹";
    left: 0;
    color: $green;
    font-size: $font-sm;
    line-height: 12px;
    box-sizing: inherit;
    margin-right: 10px;
  }
}